cuerpo {
    font-family: spectral;
}

Ul {
    font-family: spectral;
}
 {
  font-family: spectral, Arial, sans-serif;
}

p {
color: red;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}

.light-theme {
  color: #000000;
  background: #00FF00;
}



