cuerpo {
    font-family: espectral;
}

Ul {
    font-family: espectral;
}
 {
  font-family: spectral, Arial, sans-serif;
}

h {
color: rojo;
}

Li {
  estilo-lista: círculo;
}

. lista {
  estilo-lista: cuadrado;
}

#Msg {
  font-family: monoespacio;
}

. tema de luz {
  color:  #000000;
  fondo:  #00FF00;
}
